*{
  font-family: Verdana;
  text-align: center;
  background-color: black;
}

.kopje{
  font-size: 50px;
  color: white;
}

.regel2{
  color: aquamarine;
  font-size: 16px;
}

.perstg{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.interest{
  font-size: 21px;
  color: gray;
}

.rechts{
  text-align: right;
  color: gray;
  font-size: 18px;
}
